mixin form()
	section.form-section
		.container
			.title
				h2.title.title__header Get Your Free Facebook Analysis Now
				.title__text Enter your details below

			.btn-down: a.arrow-down: i.mdi.mdi-chevron-down

			.form-container.is-hidden
				form(metod="post" action="#").form
					button(type="button").form__close-button ×
					.form__text.
						it down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more

					.form__fields
						input.form__input(type="text" placeholder="Your Name")
						input.form__input(type="text" placeholder="Contact Number")
						input.form__input(type="text" placeholder="Contact Name")

					button(type="submit").button.button--text-uppercase.button--red Submit now


